* {
  margin: 0;
  border: 0;
}

#friend1, #friend2, #friend3, #friend4 {
    width: auto;
    height: 150px;
    max-width: 100px;
}

#topnav {
  background-color: firebrick;
  margin: 0;
  border: 0;
}

.create {
  background-color: firebrick;
}

#gameCreation {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-body {
  grid-column: 2 / 3;
}

#drpDwn {
  text-align: center;
}
.card_mb-3 {
  margin-top: 5%;
  width: 70%;
}

.card-img-top {
  width: 50%;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card {
  display: grid; 
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 200px;
}

#code {
  text-align: center;
}

#timerDiv {
  text-align: center;
}

#buttons {
  justify-content: center;
}