* {
  margin: 0;
  border: 0;
}


#topnav {
  background-color: firebrick;
  margin: 0;
  border: 0;
}

.create {
  background-color: firebrick;
}

#gameCreation {
  display: grid;
  grid-template-columns: 50% 50%;
}